@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color:#6d28d9;
    --dark-gray-color: #374151;
    --off-white: #e5e7eb;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}

hr{
    margin: 2rem 0rem;
}

/* * container */

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-center{
    max-width: 600px;
    margin: auto;
}

.container-fluid{
    padding: 0rem 1rem;
}
 
/* * links */

.links{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

/* * learn about look into BEM naming convetion to CSS */

/* list */


.list-non-bullet{
    list-style: none;
}

#list-item-inline{
    padding: 0rem 0.5rem;
    display: inline;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    /* border-top-right-radius: 50%; */
}

.navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
}

.navigation .link {
    color: white;
    text-decoration: none;
}

.nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}


.navigation .nav-active{
    font-weight: bold;
}

/* header */

.hero{
    padding: 2rem;
    display: block;
    text-align: center;
}

.hero .hero-img{
    max-width: 350px;
}


.hero .hero-heading .hero-heading-inverted{
    /* padding-top: 1rem; */
    font-size: xx-large;
    color: var(--primary-color);
}

/* section */
.section{
    padding: 2rem
}

.section h2{
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}


.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;   
    border-top-right-radius: 1rem;
}

.footer > .social-links{
    color: red;
    /* display: flex;
    justify-content: center;
    gap: 2rem; */
}

.footer .link{
    color:white; 
    display: inline;
    text-decoration: none;
} 
.footer ul {
    padding-inline-start: 0px;
}
















 