@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root{
  --primary-color: rgb(12, 74, 243);
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: lightcyan;
    background-color: black;
    font-weight: 700;
}

p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-weight: 700; */
}

/* * container */

.container{
  padding: 0rem 1rem;
}


.container-center {
  max-width: 600px;
  margin: auto;
}


/* * links */


.primary-link {
  color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  background-color: #a5f3fc;
}

.links {
  text-decoration: none;
  margin: 1rem;
}

hr{
  margin: 2rem 0;
}

#non-bullet-pts {
  list-style: none;
}

#list-non-bullet{
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}










































